/.idea
/.vscode

/venv

/data/embeddings/glove.6B.300d.txt
/data/embeddings/word2vec-glove.6B.300d.txt
/data/squad-v1/dev-v1.1.json
/data/squad-v1/train-v1.1.json
/data/squad-v1/squad.csv
/data/sciq/test.json
/data/sciq/train.json
/data/sciq/valid.json

__pycache__

.ipynb_checkpoints

.DS_Store
data/.DS_Store

Generated_Questions.docx

words.pyc
preprocessing.pyc
reports/
translator/model.h1.qa_aug_20/